In [15]:
import pandas as pd

In [23]:
def load_data(file_path: str) -> pd.DataFrame:
    try:
        raw_df = pd.read_excel(file_path)
    except FileNotFoundError:
        print(f"Error, file not found on the path: {file_path}")
        return pd.DataFrame()
    return raw_df

raw_df = load_data('task_2_data_ex.xlsx')

In [25]:
df_fin = raw_df[raw_df['produced_material_release_type'] =="FIN"]

df_fin

,year,month,produced_material,produced_material_production_type,produced_material_release_type,produced_material_quantity,component_material,component_material_production_type,component_material_release_type,component_material_quantity,plant_id
0,2024,1,10000,8002,FIN,990.0,50000,8002.0,PROD,990.0,RLT_10
11,2024,2,10000,8002,FIN,960.0,50000,8002.0,PROD,960.0,RLT_10
22,2024,3,10000,8002,FIN,968.0,50000,8002.0,PROD,968.0,RLT_10
33,2024,4,10000,8002,FIN,1006.0,50000,8002.0,PROD,1006.0,RLT_10
44,2024,5,10000,8002,FIN,1004.0,50000,8002.0,PROD,1004.0,RLT_10
...,...,...,...,...,...,...,...,...,...,...,...
1265,2024,8,10009,8002,FIN,1044.0,50009,8002.0,PROD,1044.0,RLT_14
1276,2024,9,10009,8002,FIN,941.0,50009,8002.0,PROD,941.0,RLT_14
1287,2024,10,10009,8002,FIN,1049.0,50009,8002.0,PROD,1049.0,RLT_14
1298,2024,11,10009,8002,FIN,949.0,50009,8002.0,PROD,949.0,RLT_14
1309,2024,12,10009,8002,FIN,1081.0,50009,8002.0,PROD,1081.0,RLT_14